<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>719635165569-hu158cmoro14r84edq1iel9anlkie6jh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.719635165569-hu158cmoro14r84edq1iel9anlkie6jh</string>
	<key>API_KEY</key>
	<string>AIzaSyDEKilO0sdInIO9mBjHQtVGqgogSQRPr6U</string>
	<key>GCM_SENDER_ID</key>
	<string>719635165569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.Rtflx</string>
	<key>PROJECT_ID</key>
	<string>rtflx-efb79</string>
	<key>STORAGE_BUCKET</key>
	<string>rtflx-efb79.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:719635165569:ios:ee8a9f357b57e978</string>
	<key>DATABASE_URL</key>
	<string>https://rtflx-efb79.firebaseio.com</string>
</dict>
</plist>